main{
    @include flex(column,flex-start,center);
    .orderSection{
        align-self: flex-start;
        border: 1px solid black;
        margin: 5%;
        .orderContainer{
            @include flex(column,space-around,center);
            .oneproduct{
                @include flex(row,space-around,flex-start);
                img{
                    width: 50px;
                }
            }
        }
    }

}
.orderFormular{
    @include flex(row,space-around,flex-start); 
    margin: 10px;
    border: 1px solid royalblue;
    .wrapper{
        @include flex(column,space-around,center); 
        border: 1px red solid;
        height: 200px;
    }
}
