section{
    .orderTitle{
        margin-top: 5%;
    }
    @include flex(column,flex-start,center);
    .orderSection{
        align-self: flex-start;
        margin: 5%;
        .orderContainer{
            @include flex(column,space-around,center);
            
            .oneproduct{
                @include flex(row,flex-start,flex-start);
                margin: 4% 0;
                align-self: flex-start;
                width: 50vw;
                img{
                    width: 5rem;
                    margin-right: 5%;
                }
                h2{
                    margin-bottom: 5%
                }
            }
        }
        .line{
            width: 80vw;
            height: .5px;
            background: gray
        }
    }
    .totalPrice{
        margin-top: 5%;
        float: right
    }

}

.order-form {
    @include flex(column,space-around,center); 

    .orderFormular{
        @include flex(row,space-around,flex-start);
        flex-wrap: wrap;

        @media (min-width: 500px) {
            width: 320px;
            @include flex(row, space-around, flex-start);
          }

        .wrapper{
            @include flex(column,space-around,center); 
            height: 200px;
        }
    }

    .comment-wrapper {
        @include flex(column,space-around,center); 
    }
}

.kvittocontainer{
    @include flex(column, space-around, center);
    border:1px solid $green;
    height: 200px;
    .kvittoproduk{
        @include flex( row, center, center)
    }
    ul{
        list-style: none;
        li{
            margin: 10px;
        }
    }
}
