.productlist {
  .productCard {
    margin: 2rem auto 10rem;
    padding: 1rem;
    border: 2px solid red;

    a {
      @include flex(column, space-around, center);
      margin: 2%;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(103%);
      }
    }
  }
  img {
    max-width: 50%;
    max-height: 50%;
    border: 2px solid green;
  }

  button {
    display: block;
  }
}

