.main-wrapper {
  width: 90%;
  background: $gold;
  @include flex(column, space-around, center);
  margin: 10%;
  .order-button {
    margin: 2%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 7px;
    &:hover {
      background: rgb(109, 109, 250);
    }
  }
  .schoppingcart-wrapper {
    .card {
      width: 50vw;
      margin: 3% 0;
      padding: 1rem;
      border: 1px solid black;
      background: white;
      img {
        width: 20vw;
      }
      .bottom-line-wrapper{
        @include flex(row, space-around,center);
        width: 100%;
      }
    }
  }
}
