#shoppingcart-main{
    @include flex(column,space-around,center);
    width: 100vw;
    height: 100%;
    .back-btn{
        align-self: flex-start;
        margin: 5% 0 0 5%;
    }
    .main-wrapper{
        width: 90%;
        background: rgb(168, 168, 168);
        @include flex(column,space-around,center);
        margin: 10%;
        .order-button{
            margin: 2%;
            border: 1px solid black;
            padding: 5px;
            border-radius: 7px;
            &:hover{
                background: rgb(109, 109, 250);
            }
        }
    }
}