@import url(//fonts.googleapis.com/css?family=Lato:300:400);
main .main-wrapper {
  width: 90%;
  background: #b98f34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10%;
}

main .main-wrapper .order-button {
  margin: 2%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;
}

main .main-wrapper .order-button:hover {
  background: #6d6dfa;
}

main .main-wrapper .schoppingcart-wrapper .card {
  width: 70vw;
  margin: 3% 0;
  padding: 1rem;
  border: 1px solid black;
  background: white;
}

main .main-wrapper .schoppingcart-wrapper .card img {
  width: 20vw;
}

main .main-wrapper .schoppingcart-wrapper .card .bottom-line-wrapper {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .main-wrapper .schoppingcart-wrapper .card .bottom-line-wrapper button {
  padding: .5vh 1.5vw;
  border: .5px solid black;
  background: rgba(185, 143, 52, 0.3);
}

main .main-wrapper .schoppingcart-wrapper .card .bottom-line-wrapper .decreaseBtn {
  border-radius: 5px 0 0 5px;
}

main .main-wrapper .schoppingcart-wrapper .card .bottom-line-wrapper .increaseBtn {
  border-radius: 0 5px 5px 0;
}

main .orderCartBtn {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
  margin-bottom: 20vh !important;
}

@media only screen and (min-width: 600px) {
  main .main-wrapper .schoppingcart-wrapper .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1% 0;
  }
  main .main-wrapper .schoppingcart-wrapper .card img {
    width: 8vw;
    margin-right: 5%;
  }
  main .main-wrapper .schoppingcart-wrapper .card .pruductname {
    margin-bottom: 10%;
  }
  main .main-wrapper .schoppingcart-wrapper .card .bottom-line-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40vw;
  }
}

.productside {
  margin: 2rem auto 15rem;
}

.productside .productCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.productside .productCard:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

.productside .productheading {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.productside .productImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16rem;
  height: 16rem;
  margin: 3rem;
}

.productside .productImg img {
  width: 100%;
}

.productside .producttext {
  margin: 5px;
  width: 18rem;
  height: 10rem;
}

.productside .productinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 16rem;
  margin-top: 20px;
}

.productside .price {
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .header .hamburger-container {
    display: none;
  }
  .header .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    inset: 0 0 0 0;
    height: 10%;
    background: none;
  }
  .header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav ul li a {
    font-size: 20px;
    color: black;
  }
}

.filter-products {
  padding: 0.5rem;
}

.filter-products .filter-field {
  margin: 0.75rem 0;
}

.filter-products .search-btn {
  color: #004040;
  background-color: transparent;
  border-color: #004040;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 1px;
  cursor: pointer;
}

.filter-products .search-btn:hover {
  color: white;
  background-color: #004040;
}

.productlist .productCard {
  margin: 2rem auto 10rem;
  padding: 1rem;
  border: 2px solid red;
}

.productlist .productCard a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
}

.productlist img {
  max-width: 50%;
  max-height: 50%;
  border: 2px solid green;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.productlist img:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

.productlist p {
  display: inline;
}

.productlist button {
  margin-left: 1rem;
}

.header-img {
  /* background-image: url("https://images.unsplash.com/photo-1578998323870-83a9a3d609e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    border: 1px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.header-img .imgDiv {
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-img .imgDiv .headerIMG {
  height: 80vh;
  margin: 0 15% 0 0;
}

.header-img .startheading {
  position: absolute;
  top: 47%;
  font-size: 14vw;
  color: #b98f34;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.startmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px;
}

.startmain .categorycontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.startmain .categorycontainer .category {
  margin: 20px 30px;
}

.startmain .categorycontainer .category a {
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.1rem;
  margin: 10px 0px 0px;
  font-weight: 700;
  font-size: calc(0.6875rem + 0.3125 * ((100vw - 20rem) / 100));
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

.startmain .categorycontainer .category a img {
  height: 250px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.startmain .categorycontainer .category a img:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

@media only screen and (min-width: 600px) {
  .header .hamburger-container {
    display: none;
  }
  .header .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    inset: 0 0 0 0;
    height: 10%;
    background: none;
  }
  .header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav ul li a {
    font-size: 20px;
    color: black;
  }
  .header-img .imgDiv {
    width: 90vw;
    height: 70vh;
    position: relative;
    margin: 5%;
    overflow: hidden;
  }
  .header-img .imgDiv .headerIMG {
    background-repeat: no-repeat;
    position: absolute;
    background-size: 50%;
    height: 100vh;
    margin: 5px;
  }
  .header-img .startheading {
    font-size: 14vw;
  }
  .startmain .categorycontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.create-login-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-login-main .login-heading {
  margin: 20px 0 20px 0;
}

.create-login-main .create-login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .create-login-main .create-login-form {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.create-login-main .create-login-form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .create-login-main .create-login-form .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.create-login-main .create-login-form .input-container .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 228px;
}

.create-login-main .create-login-form .input-container .input-wrapper input {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
}

@media (min-width: 500px) {
  .create-login-main .create-login-form .input-container .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5px 0 5px;
  }
}

.create-login-main .create-login-form .input-container .input-wrapper .create-form-styling {
  margin: 5px 0 5px 0;
}

.create-login-main .create-login-form .buyBtn.create-form-styling {
  margin: 10px 0 20px 0;
}

.hidden-login {
  display: none;
}

.create-login-main {
  padding-top: 20px;
}

.login-header {
  margin-bottom: 10px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
}

.login-form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .login-form .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.login-form .input-container .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .login-form .input-container .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5px 0 5px;
  }
}

.login-form .input-container .input-wrapper .create-form-styling {
  margin: 5px 0 5px 0;
}

.login-form .input-container .input-wrapper input {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
}

.login-form .buyBtn.create-form-styling {
  margin-top: 10px;
}

.login-form .link-button {
  text-decoration: none;
  color: #ECF2F3;
  cursor: default;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .orderTitle {
  margin-top: 5%;
}

section .orderSection {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5%;
}

section .orderSection .orderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .orderSection .orderContainer .oneproduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 4% 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 50vw;
}

section .orderSection .orderContainer .oneproduct img {
  width: 5rem;
  margin-right: 5%;
}

section .orderSection .orderContainer .oneproduct h2 {
  margin-bottom: 5%;
}

section .orderSection .line {
  width: 80vw;
  height: 0.5px;
  background: gray;
}

section .totalPrice {
  margin-top: 5%;
  float: right;
}

.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order-form input,
.order-form textarea {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
}

.order-form .orderFormular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 500px) {
  .order-form .orderFormular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.order-form .orderFormular .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 170px;
  margin: 0 5px 0 5px;
}

.order-form h3 {
  margin-bottom: 10px;
}

.order-form .comment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 30px 0;
}

.order-form .comment-wrapper #orderComments {
  margin: 10px 0 10px 0;
}

.kvittocontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #004040;
  margin: 2rem;
  padding: 1rem;
  width: 100%;
}

.kvittocontainer .line {
  width: 80vw;
  height: 0.5px;
  background: gray;
}

.kvittocontainer .kvittohead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
}

.kvittocontainer .kvittoproduk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kvittocontainer ul {
  list-style: none;
  min-height: 5rem;
}

.kvittocontainer ul li {
  margin: 10px;
  word-spacing: 10px;
}

.kvittocontainer .kvittopersinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: black 1px solid;
  margin-top: 15px;
  width: 80%;
  height: 200px;
}

.required:after {
  color: #e32;
  content: " *";
  display: inline;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 10vh;
  background: #ECF2F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  margin-left: 4%;
}

.header .logo .hourglass-logo {
  height: 55px;
  width: 180px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: rgba(185, 143, 52, 0.747);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  height: 100vh;
  inset: 0 0 0 40%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .nav ul {
  height: 80%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav ul li {
  list-style: none;
  font-size: 1.2rem;
}

.header .nav ul li a {
  color: #ECF2F3;
  text-decoration: none;
}

.header .nav ul li a:hover {
  text-decoration: underline;
}

.header .nav.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header .hamburger-container {
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin: 15px;
  z-index: 9999;
}

.header .hamburger-container .hamburger-line {
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .hamburger-container .hamburger-line::before, .header .hamburger-container .hamburger-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header .hamburger-container .hamburger-line::before {
  top: 15%;
}

.header .hamburger-container .hamburger-line::after {
  bottom: 15%;
}

.header .hamburger-container.activeBtn {
  z-index: 9999;
}

.header .hamburger-container.activeBtn .hamburger-line {
  background: transparent;
}

.header .hamburger-container.activeBtn .hamburger-line::before {
  -webkit-transform: translateY(12.5px) rotate(45deg);
          transform: translateY(12.5px) rotate(45deg);
}

.header .hamburger-container.activeBtn .hamburger-line::after {
  -webkit-transform: translateY(-12.5px) rotate(-45deg);
          transform: translateY(-12.5px) rotate(-45deg);
}

.header .cart {
  position: relative;
  right: 20%;
  padding: 2.5px 5px;
  cursor: pointer;
}

.header .cart:hover {
  background-color: #004040;
  color: white;
  border-radius: 4px;
}

.footer {
  background-color: #004040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  width: 30%;
  color: #ECF2F3;
}

#shoppingcart-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#shoppingcart-main .back-btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 2% 0 0 2%;
  color: #004040;
  background-color: transparent;
  border-color: #004040;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 1px;
  cursor: pointer;
  padding: .4rem 1rem;
  border: 1px solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1.875rem;
}

#shoppingcart-main .back-btn:hover {
  color: white;
  background-color: #004040;
}

.buyBtn {
  color: #fff;
  background-color: #b98f34;
  min-width: 5rem;
  border: 2px solid white;
  padding: .4rem 1rem;
  border: 1px solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1.875rem;
}

.buyBtn:hover {
  border: 2px solid #b98f34;
  color: #b98f34;
  background-color: white;
}

.buyBtn {
  color: #fff;
  background-color: #b98f34;
  min-width: 5rem;
  border: 2px solid white;
  padding: .4rem 1rem;
  border: 1px solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1.875rem;
}

.buyBtn:hover {
  border: 2px solid #b98f34;
  color: #b98f34;
  background-color: white;
}

@media only screen and (min-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .header .hamburger-container {
    display: none;
  }
  .header .hamburger-container {
    display: none;
  }
  .header .logo {
    z-index: 1;
  }
  .header .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    inset: 0 0 0 0;
    height: 10%;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  .header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10%;
    width: 50%;
  }
  .header .nav ul li a {
    color: black;
  }
  .header .cart {
    right: 5%;
    z-index: 1;
  }
}

.basbtnStyle {
  padding: .4rem 1rem;
  border: 1px solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1.875rem;
}
/*# sourceMappingURL=style.css.map */