.main-wrapper {
  width: 90%;
  background: #a8a8a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10%;
}

.main-wrapper .order-button {
  margin: 2%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;
}

.main-wrapper .order-button:hover {
  background: #6d6dfa;
}

.productside {
  margin: 0 auto 15rem;
}

.productside .productCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.productside .productCard:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

.productside .productCard .productheading {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.productside .productCard .productImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16rem;
  height: 16rem;
}

.productside .productCard .productImg img {
  width: 100%;
}

.productside .productCard .producttext {
  margin: 5px;
  width: 18rem;
  height: 10rem;
}

.productside .productCard .productinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 16rem;
  margin-top: 20px;
}

.productlist {
  border: 2px solid red;
}

.productlist img {
  max-width: 50%;
  max-height: 50%;
  border: 2px solid green;
}

.productlist button {
  display: block;
}

.header-img {
  background-image: url("https://images.unsplash.com/photo-1578998323870-83a9a3d609e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  width: 100%;
}

.header-img .startheading {
  margin: 0 auto;
  position: absolute;
  color: aliceblue;
  top: 200px;
  left: 40%;
}

.startmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10px;
}

.startmain .categorycontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.startmain .categorycontainer .category {
  margin: 20px;
}

.startmain .categorycontainer .category a img {
  height: 250px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.create-login-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-login-main .login-heading {
  margin: 20px 0 20px 0;
}

.create-login-main .create-login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .create-login-main .create-login-form {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.create-login-main .create-login-form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .create-login-main .create-login-form .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.create-login-main .create-login-form .input-container .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 228px;
}

@media (min-width: 500px) {
  .create-login-main .create-login-form .input-container .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5px 0 5px;
  }
}

.create-login-main .create-login-form .input-container .input-wrapper .create-form-styling {
  margin: 5px 0 5px 0;
}

.create-login-main .create-login-form .button.create-form-styling {
  margin-top: 10px;
  padding: 5px;
}

.hidden-login {
  display: none;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
}

.login-form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .login-form .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.login-form .input-container .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 500px) {
  .login-form .input-container .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5px 0 5px;
  }
}

.login-form .input-container .input-wrapper .create-form-styling {
  margin: 5px 0 5px 0;
}

.login-form .button.create-form-styling {
  margin-top: 10px;
  padding: 5px;
}

.login-form .link-button {
  text-decoration: none;
  color: black;
  cursor: default;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .orderSection {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 1px solid black;
  margin: 5%;
}

main .orderSection .orderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .orderSection .orderContainer .oneproduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .orderSection .orderContainer .oneproduct img {
  width: 50px;
}

.orderFormular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px;
  border: 1px solid royalblue;
}

.orderFormular .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px red solid;
  height: 200px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 10vh;
  background: #ECF2F3;
  border: 1px red solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  margin-left: 1%;
}

.header .logo .hourglass-logo {
  height: 55px;
  width: 180px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: rgba(185, 143, 52, 0.747);
  height: 100vh;
  inset: 0 0 0 40%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 999;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .nav ul {
  height: 80%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav ul li {
  list-style: none;
  font-size: 2.5rem;
}

.header .nav ul li a {
  color: #ECF2F3;
  text-decoration: none;
}

.header .nav ul li a:hover {
  text-decoration: underline;
}

.header .nav.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header .hamburger-container {
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin: 15px;
  z-index: 9999;
}

.header .hamburger-container .hamburger-line {
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header .hamburger-container .hamburger-line::before, .header .hamburger-container .hamburger-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header .hamburger-container .hamburger-line::before {
  top: 15%;
}

.header .hamburger-container .hamburger-line::after {
  bottom: 15%;
}

.header .hamburger-container.activeBtn {
  z-index: 9999;
}

.header .hamburger-container.activeBtn .hamburger-line {
  background: transparent;
}

.header .hamburger-container.activeBtn .hamburger-line::before {
  -webkit-transform: translateY(12.5px) rotate(45deg);
          transform: translateY(12.5px) rotate(45deg);
}

.header .hamburger-container.activeBtn .hamburger-line::after {
  -webkit-transform: translateY(-12.5px) rotate(-45deg);
          transform: translateY(-12.5px) rotate(-45deg);
}

.header .cart {
  position: relative;
  right: 20%;
}

.footer {
  background-color: #004040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  width: 30%;
  color: #ECF2F3;
}

#shoppingcart-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#shoppingcart-main .back-btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5% 0 0 5%;
  padding: .4rem 1rem;
  border: 1px solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #12784a;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 1.875rem;
  border-color: #12784a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 1px;
  cursor: pointer;
}

.buyBtn {
  padding: .4rem 1rem;
  border: 1px solid;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #b98f34;
  border-radius: 1.5rem;
}
/*# sourceMappingURL=style.css.map */