@mixin flex($direction,$justify,$align) {
    display: flex;
    justify-content:$justify ;
    flex-direction: $direction;
    align-items: $align;
}
@import "./varibels";
@import "./varukorg";
@import "./produktsida";
@import "./produktlista";
@import "./mixin";
@import "./index";
@import "./skapalogin";
@import "./login";
@import "./order";

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 10vh;
    background: $ice;
    border: 1px red solid;
    .logo{
        margin-left: 5%
    }
@include flex(row, space-between, center);

    .nav{
        @include flex(column, center, center);
        position: absolute;
        background-color: rgba($gold, 0.747);
        height: 100vh;
        inset: 0 0 0 40%;
        transform: translateX(100%);
        z-index: 999;
        transition: all .3s ease;
        ul{
            height: 80%;
            width: 50%;
            @include flex(column, space-around, center);
            li{
                list-style: none;
                font-size: 2.5rem;
                a{
                color: $ice;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
                }
            }
        }
        &.active{
            transform: translateX(0%);
        }
    }
    .hamburger-container{
        position: fixed;
        right: 0;
        @include flex(column,center,center);
        width: 40px;
        height: 40px;
        margin: 15px;
        z-index: 9999;
       
        .hamburger-line{
            width: 100%;
            height: 3px;
            background:rgb(0, 0, 0);
            transition: all .5s ease;
            &::before, &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background: black;
                transition: all .5s ease;
            }
            &::before{ 
                top:15%;
            }
            &::after{
                bottom: 15%;
            }

        }
        &.activeBtn{
            z-index: 9999;
            
            .hamburger-line{  
                background: transparent;    
            &::before{  
                transform: translateY(12.5px) rotate(45deg);
               }

            &::after{
                transform: translateY(-12.5px) rotate(-45deg);                
            }
            }
        }
    }

    .cart{
        position: relative;
        right: 20%;
    }
    
}
.footer{
    background-color: $green;
    // position: relative;
    // bottom: 0;
    @include flex(row, space-around, center);
    p{
        width: 30%;
        color: $ice;
    }
}
//Knappar
#shoppingcart-main{
    @include flex(column,space-around,center);
    // width: 100vw;
    height: 100%;
    .back-btn{
        align-self: flex-start;
        margin: 5% 0 0 5%;
        @include backbtnStyle;
    }
}
.buyBtn {
    @include bybtnStyle;
  }
